<!DOCTYPE html>
<html lang="en">
<head>
    <title>tagname selector</title>
    <style>
        h1{
            color:aquamarine;
        }
        h2{
            background: linear-gradient(45deg,blue,green,yellow);
            color: azure;
        }
        h3{
            font-size: 39px;
            font-style: italic;
            color: blueviolet;
            text-shadow: 0 0 15px;
        }
    </style>
</head>
<body>
    <h1>good morning....!!</h1>
    <h2>tomorrow is saunday</h2>
    <h3>suprise for 31st</h3>
</body>
</html>