<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Document</title>
    <style>
        body{
              background-color: lightskyblue;
        }
        button{
            margin-left: 400px;
        }
        table{
            margin-left: 900px;
        }
        h2{
            margin-left: 900px;
        }
    </style>
</head>
<body>
 <form>
        <table>
    <div class="parent">
        <h1>facebook <br></h1>

        <button class="button">email</button>
        <button class="button">login</button>
    
        <h1> faebook helps you  content and share with<br>
             the people in your life</h1>
            <div class="child">
                <h2>SIGN UP<br>
                    its free and anyone can join
                    <h2>
      </div>
    <div>
    <div>
        <tr>
            <td>
                <label for="first name">first name</label>
            </td>

            <td>
                <input type="name"id="firstname">
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">last name</label>
                </td>
                <td>
                <input type="name"id="lastname">
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">email</label>
            </td>
            <td>
                <input type="email" id="email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password"> new password</label>
                </td>
                <td>
                <input type="password"id="password">
            </td>
            <tr>
            <td>
                <label for="iam">iam</label>
            </td>
            <td>
                <select id ="iam">
                    <option value="iam">male</option>
                    <option value="iam">female</option>
                    <option value="iam">others</option>
            </td>
            </tr>
            <tr>
                <td>
                    <label for="birthday">birthday</label>
                    <td>
                        <select id="birthday">
                        <option value="birthday">months <br> day <br>year</option>                                             
                        </td>
                        <tr>
                            <td>
                                <input type="submit" value="sign up" id="sign up">
                            </td>
        </tr>
    </div>
    </div>
    </table>
    </form>
</body>
</html>